@use "../../mixins" as m;
@use "../../variable" as v;
@use "../../media" as media;


.main5{
    background-image: url("/src/assets/homepage/ready-bg-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--clr-white);
    padding: 8rem 0;
    width: 100%;
    text-align: center;
    @include m.flex_column;
    justify-content: space-around;
    align-items: center;
    h2{
        color: v.$clr-white;
        font-size: 2.7rem;
        margin-bottom: 2.3rem;
    }

    li{
        list-style: none;
        a{
            @include m.black_a;
            padding: 1.5rem 3rem;
            font-size: 1.2rem;
            width: 18rem;
            height: 5rem;
        }
      }
  
    @include media.med {
      background-image: url("/src/assets/homepage/ready-bg-tablet.jpg");
      padding: 6.4rem 0;
    }
  
    @include media.xl {
      background-image: url("/src/assets/homepage/ready-bg-desktop.jpg");
      padding: 9.2rem 0;
      @include m.flex_row;
      justify-content: space-around;
      align-items: center;
    }


}