@use "../../mixins" as m;
@use "../../variable" as v;
@use "../../media" as media;


.main3{
    color:  v.$clr-white;
    background-color: v.$clr-codGray;
    text-align: center;
    width: 100vw;
    @include m.flex_column;
    justify-content:space-around;
    align-items: center;
        .menu__content{
            margin-top: 3rem;
            margin-bottom: 3.5rem;
            @include m.flex_column;
            justify-content:space-around;
            align-items: center;
            height: 16rem;
            width: 85%;
            h2{
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 2.4rem;
            }
            p{
                font-size: 1.35rem;
                font-weight: 300;
                line-height: 1.6rem;
            }

        }

        .menu__list{
            @include m.flex_column;
            justify-content:space-around;
            align-items: center;
            width: 85%;
            .menu__item{
                position: relative;
                width: 100%;
                height: 27rem;
                @include m.flex_column;
                justify-content:space-around;
                align-items: center;
                margin-bottom: 2.5rem;

                .menu__text{
                    h3{
                        font-size: 1.7rem;
                        font-weight: 700;
                        line-height: 2.4rem;
                    }
                    p{
                        font-size: 1.25rem;
                        font-weight: 300;
                        line-height: 1.5rem;
                    }
                }

                &:not(:first-child)::before {
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 100%;
                    top: -2.4rem;
                    left: 0;
                    border-top: 1px solid white;
                    opacity: 0.15;
                }
              
            }
        }

        @include media.med {
            .menu__content{
                height: 13rem;
                margin-bottom: 0.4rem;
                width: 55%;
                h2{
                    margin-bottom: .5rem;
                }
            }
            .menu__list{
                .menu__item{
                    @include m.flex_row;
                    align-items: center;
                    justify-content: space-between;
                    height: 12rem;
                    width: 75%;
                    margin-bottom: 1rem;
                    picture{
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            height: 1px;
                            width: 3.2rem;
                            top: 1.3rem;
                            transform: translateX(8rem);
                            border-top: 1px solid white;
                          }
                    }
                    .menu__text{
                        margin-left: 5rem;
                        text-align: left;
                        h3{
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 2rem;
                            margin-bottom: 0.2rem;
                        }
                    }
                }
    
            }
        }

        @include media.xl{
            min-height: 100vh;
            text-align: left;
            width: 100vw;
            @include m.flex_row;
            justify-content:space-around;
            align-items: center;
            .menu__content{
                align-items: baseline;
                height: 18rem;
                margin-bottom: 0.4rem;
                width: 30%;
                h2{
                    font-size: 3rem;
                    margin-bottom: .8rem;
                    line-height: 3.3rem;
                }
                p{
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
            }
            .menu__list{
                width: 50%;
                .menu__item{
                    @include m.flex_row;
                    align-items: center;
                    justify-content: space-between;
                    height: 10rem;
                    width: 70%;
                    margin-bottom: 1rem;
                   
                }
    
            }

        }

}