@use "../../mixins" as m;
@use "../../variable" as v;
@use "../../media" as media;


.main7{
    background-color: v.$clr-white;
    position: relative;
    height: 650px;
    .reservation{
        width: 90%;
        max-width: 540px;
        padding-bottom: 8.6rem;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);

        form{
            background-color: v.$clr-white;
            margin-top: -13.7rem;
            margin: -13.7rem auto 0;
            padding: 2.2rem;
            box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
            max-width: 54rem;
        
            display: grid;
            row-gap: 1.2rem;

            input,
            select {
              border: none;
              border-bottom: 1px solid #8e8e8e;
            }
        
            label,
            select {
              font-size: 1.8rem;
              line-height: 156%;
              letter-spacing: -0.225px;
              color: v.$clr-codGray;
            }
        
            input:focus {
              border-bottom-color: v.$clr-codGray;
            }
        
            ::placeholder {
              opacity: 0.5;
            }
        
            input[name="name"],
            input[name="email"] {
              padding-bottom: 0.5rem;
              padding-top: 0.8rem;
              padding-left: 1.6rem;
              width: 100%;
              font-size: 1.3rem;
            }
        
            .heading {
              font-size: 1.3rem;
              font-weight: 300;
            }
        
            fieldset {
              border: none;
            }
        
            select {
              opacity: 0.5;
              appearance: none;
              background-color: transparent;
              margin: 0;
              width: 100%;
              font-family: inherit;
              cursor: inherit;
              padding: 0.8rem 0 1.6rem 10%;
            
              &:focus {
                opacity: 1;
              }
            }

            .date-picker,
            .time-picker {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              column-gap: 1.2rem;
              padding-top: 0.8rem;
            }
            
            .field-info {
                align-self: center;
              }
          
              .people {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #8e8e8e;
                font-size: 1.4rem;
                padding-bottom: 1.7rem;
          
              }

              .math {
                border: none;
                background-color: transparent;
                padding: 0 1.9rem;
              }
          
              button {
                @include m.white_a;
                padding: 25px;
                font-size: 1.5rem;
                width: initial;
                cursor: pointer;
              }
        
        }

        .error-border {
            border-bottom-color: v.$clr-error;
          }
        
          .error-color {
            color: v.$clr-error;
          }
        
          .error-message {
            color: v.$clr-error;
            padding-top: 1rem;
            padding-left: 1.6rem;
            font-size: 1rem;
            line-height: 100%;
            transition: 0.3s;
            font-weight: 500;
          }
        
          .date .error-message,
          .time .error-message {
            padding: 0;
          }
        
          .success-message {
            color: green;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 156%;
          }

    }

            
}