
@use "../mixins" as m;
@use "../variable" as v;
@use "../media" as media;

.main1{
  position: relative;
  width: 98vw;
  height: 890px;  
  background-image: url("/src/assets/homepage/hero-bg-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$clr-white;

  .container{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
    @include m.flex_column;
    align-items: center;
    justify-content: space-between;
    height: 22rem;
  }

  h1{
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
  }
  h3{
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
  }

  p{
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
    width:80%;
  }

  li{
    list-style: none;
    a{
        @include m.black_a;
        padding: 1.5rem 3rem;
        font-size: 1.2rem;
        width: 18rem;
        height: 5rem;
    }
  }

  @include media.med {
    width: 99vw;
    background-image: url("/src/assets/homepage/hero-bg-tablet.jpg");
  }

  @include media.xl {
    width: 99vw;
    max-height: 82rem;
    background-image: url("/src/assets/homepage/hero-bg-desktop.jpg");
    background-size: cover;
    .container{
      position: absolute;
      width: 40%;
      left: 450px;
      top: 480px;
      @include m.flex_column;
      align-items: baseline;
      justify-content: space-between;
      height: 38rem;
    }

    h1{
      font-weight: 700;
      font-size: 3.4rem;
      text-align: center;
      margin-bottom: 8rem;
    }
    h3{
      font-weight: 300;
      font-size: 5rem;
      text-align: left
    }
  
    p{
      font-size: 1.2rem;
      font-weight: 300;
      text-align:left;
      line-height: 2rem;
      width:80%;
    }
  
  }

  



}