@import "_variable";


@mixin flex_row{
    display: flex;
    flex-direction: row;
}

@mixin flex_column{
    display: flex;
    flex-direction: column;
}


@mixin column_center{
    @include flex_column;
    justify-content: center;
    align-items: center;
}

@mixin row_center{
    @include flex_row;
    justify-content: center;
    align-items: center;
}

@mixin a{
    display: inline-block;
    padding: 2.5rem 4.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    width: 24rem;
    height: 6.4rem;
    text-align: center;
    @include row_center;
}

@mixin black_a{
    text-decoration: none;
    @include a;
    border: 1px solid white;
    color: white;
    &:hover{
        background-color: white;
        color: black;
    }
}

@mixin white_a{
    border: 1px solid black;
    background-color: black;
    color: white;
    &:hover{
        background-color: white;
        color: black;
    }
}

@mixin shadow {
    -webkit-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 15px -7px rgba(0,0,0,0.75);
}