@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700&display=swap');

$primary-font: 'League Spartan', sans-serif;
$clr-beaver: hsl(27, 22%, 51%);
$clr-codGray: hsl(0, 0%, 7%);
$clr-mirage: hsl(234, 30%, 13%);
$clr-ebonyClay: hsl(218, 21%, 18%);
$clr-shuttleGray: hsl(217, 14%, 42%);
$clr-white: hsl(0, 0%, 100%);
$clr-error: hsl(0, 43%, 50%);
