@use './comp/home/main1';
@use './comp/home/main2';
@use './comp/home/main3';
@use './comp/home/main4';
@use './comp/home/main5';
@use "./comp/footer";
@use "./variable" as v;
@import "_mixins";

*{
    font-family: v.$primary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}